@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');

.title{
  font-family: 'Montserrat Alternates', sans-serif;
}

.body-text{
  font-family: 'Montserrat Alternates', sans-serif;
}

.bookingitem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 15px;
}
.bookingitem h1{
  font-size: 15px;
  color: #d5934d;
  font-weight: 900;
}
.bookingitem span{
  font-size: 20px;
}

.tomake{
  background-image: linear-gradient(to bottom, #2d2c2c90, #d5934d55),
  url('https://images.unsplash.com/photo-1586023492125-27b2c045efd7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZXxlbnwwfHwwfHx8MA%3D%3D'); 
  background-size: cover;
}
